<div style="margin-top: 3rem;" class="example-card">
  <ngx-flip-card [easing]="'easeOut'" [animationDuration]="2000">
    <div card-front>
      <img src="assets/cc_front.png" alt="card front">
    </div>
    <div card-back>
      <img src="assets/cc_back.png" alt="card back">
    </div>
  </ngx-flip-card>
</div>

<div style="margin-top: 3rem;" class="example-card">
  <ngx-tilt-card>
    <ngx-flip-card [easing]="'easeOut'" [animationDuration]="2000">
      <div card-front>
        <img src="assets/cc_front.png" alt="card front">
      </div>
      <div card-back>
        <img src="assets/cc_back.png" alt="card back">
      </div>
    </ngx-flip-card>
  </ngx-tilt-card>
</div>